html { 
  background: url("/images/andersonstars.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width:100%;
}

body {
	background: none;
}