html { 
  background: url('/images/main-shadow.png') center 0 no-repeat, url('/images/background.jpg') center 0 repeat #222;
  background-attachment: fixed;
  min-height: 100%;
  min-width:100%;
}

body {
	background: none;
}

h1, h2, h3, h4, h5, h6, p {
	color: #FFFFFF;
	font-family: 'Ek Mukta', sans-serif;
}

a {
color: #fff;
}

.photo-me {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.photo-me img {
	line-height: 0;
	border: solid 4px white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.button {
	width: 100%;
}

.links li {
	list-style-type: none;
}

.container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	padding-top: 25px;
}

.contact-icons img {
	padding: 1em;
	max-width: 66%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact-icons h3, .contact-icons p {
	text-align: center;
}

.imageRow {
  *zoom: 1;
  margin: 20px 0;
}

.imageRow img {
	max-height: 180pt;
}

.imageRow:after {
  content: "";
  display: table;
  clear: both;
}

.imageRow .imageSingle {
  float: left;
}

.imageRow .imageSingle a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 7px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.imageRow .imageSingle a h4 {
	text-align: center;
	padding-bottom: 10px;
}

.imageRow .imageSingle a img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.imageRow .imageSingle a:hover {
  background-color: #a11;
}

.imageRow .imageSet {
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.imageRow .imageSet:hover {
  background: rgba(255, 255, 255, 0.2);
}

.imageRow .imageSet .imageSingle a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}

.imageRow .imageSet .imageSingle a:hover {
  background-color: #aaa;
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.imageRow .imageSet .imageSingle .imageFirst a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.imageRow .imageSet .imageSingle .imageLast a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 1.625em;
	margin: 0;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #999,2px 2px 0px #888,3px 3px 0px #777,4px 4px 7px #000;
}

p {
	color: white;
	text-shadow: 0 -1px 0 black;
	font-size: 16px;
	line-height: 1.625em;
	font-family: "Open Sans","lucida grande",tahoma,sans-serif;
	font-weight: 600;
}

.lb-number {
	display: none;
}



.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}

.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}

.Caption_Content{
    color:#FFF;
    padding:20px;
}