html { 
  background: url("/images/andersonstars.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width:100%;
}

body {
	background: none;
}

h1, h2, h3, h4, h5, h6, p {
	color: #FFFFFF;
}

.photo-me {
	margin-right: 1em;
	width: 200px;
	line-height: 0;
	display: inline;
	border: solid 4px white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.links.buttons {
	width: 200px;
}