<!DOCTYPE html>
<html>
	<head>
		<title>George W. Walker | {{ page.title }}</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="//fonts.googleapis.com/css?family=Ek+Mukta:300" rel="stylesheet" type="text/css">
		<link href="//cdn.jsdelivr.net/jquery.vegas/1.3.4/jquery.vegas.css" rel="stylesheet" type="text/css">
		<link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/jquery.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation/foundation.topbar.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.1/jquery.jcarousel.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.touchwipe/1.1.1/jquery.touchwipe.min.js"></script>
	</head>
	<body>
		<div class="fixed">
			<nav class="top-bar" data-topbar role="navigation">
				<div class="container">
					<ul class="title-area">
						<li class="name">
							<h1><a href="/">George W. Walker</a></h1>
						</li>
						<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
					</ul>
   				</div>
				<section class="top-bar-section container">
					<ul class="right">
						<li id="aboutme"><a href="/">About Me</a></li>
						<li id="contact"><a href="/contact/">Contact Me</a></li>
						<li class="has-dropdown"  id="portfolio">
							<a href="/portfolio/">My Work</a>
							<ul class="dropdown">
								<li id="photography"><a href="/portfolio/photography/">Photography</a></li>
								<li id="print"><a href="/portfolio/print/">Print Design</a></li>
								<li id="web"><a href="/portfolio/web/">Websites</a></li>
								<li id="code"><a href="/portfolio/code/">Code</a></li>
								<li id="other"><a href="/portfolio/other/">Other</a></li>
							</ul>
						</li>
   				</ul>
				</section>
			</nav>
		</div>
		<div class="container">
			<header class="header small-12 columns">
				<h1 class="page-title">{{ page.title }}</h1>
			</header>
			<div class="content-container">
				{{content}}
			</div>
		</div>
		<script>
			$(document).foundation();
			document.getElementById('{{page.page-name}}').className += ' active';
		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-39446677-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
